:root {
    --clr-normal: hsl(356, 100%, 66%);
    --clr-hover: hsl(355, 100%, 74%);
    --clr-body-light: hsl(240, 2%, 79%);
    --clr-body-dark: hsl(207, 13%, 34%);
    --clr-headings: hsl(208, 49%, 24%);
    --clr-background: hsl(240, 10%, 16%);

    --ff-heading: 3rem;
    --ff-normal: 2rem;

    --fs-normal: "Overpass", sans-serif;
    --fs-heading: "Ubuntu", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/* Main */
/* Future */
.future{
    display:flex;
    flex-direction: column;
}
.future-title h2{
    display:flex;
    justify-content: center;
    color: var(--clr-headings);
    font-family: var(--fs-normal);
    padding-top: 4em;
}
.future-content{
    display:flex;
    flex-direction:row-reverse;
}
.future-text-container{
     flex-direction:column;
    margin-left: 10%;
    margin-top:20%;
    width:60%;
}
.future-text-box-one, .future-text-box-two{
    font-family: var(--fs-normal);
    font-size: 14px;
    color: var(--clr-body-dark);
    line-height: 1.5rem;
    font-weight: 500;

}
.future-text-box-two{
    margin-top:2em;
}
.future-text-box-one-title, .future-text-box-two-title{
    padding-bottom: 1em;
    font-family: var(--fs-heading);
    color: var(--clr-headings);
}
.future-image {
    width:50%;
}
.future-image img{
    margin-left: 1%;
}
/*state-of-art*/

 .state-of-art{
    background-color: var(--clr-background);
    margin: auto;
    text-align: justify;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-image: url('images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    background-size: 60%;
    height:340px;
  

}

.state-of-art-content{
    display:flex;
    z-index: 1; 

}

.phone-image{
    width:50%;
    z-index: 1;
    margin-top: -6%;
}

.phone-text-title{
    padding-top: 20%;
    padding-bottom: 0.5em;
    padding-right: 1em;
    font-family: var(--fs-heading);
    z-index: 1;

}
.phone-text{
    width:50%;
    margin-bottom:10%;
    color:white;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    line-height: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    z-index: 1;
} 

.products-features{
    display:flex;
    flex-direction:row;
    margin-top:100px
}
.laptop-image{
    width:40%;
}
.laptop-image img{
    margin-left: -50%;

}
.features-text{
    flex-direction:column;
    margin-left: 10%;
    margin-top:20%;
    width:60%;

}

.features-text-box-one, .features-text-box-two{
    font-family: var(--fs-normal);
    font-size: 14px;
    color: var(--clr-body-dark);
    line-height: 1.5rem;
    font-weight: 500;

}
.features-text-box-two{
    margin-top:2em;
}
.features-text-box-one-title, .features-text-box-two-title{
    padding-bottom: 1em;
    font-family: var(--fs-heading);
    color: var(--clr-headings);
}

